@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.bg-dark{
    background-color: black;
}
.bg-darklight{
    background: rgb(34, 34, 34);
}
.bg-danger{
    background: rgb(230, 83, 60);
}
.text-secondary{
    color: #00D084;
}
.text-light{
    color: rgb(255, 255, 255);
}
.text-darklight{
    color: rgba(255, 255, 255, 0.5);
}
.text-danger{
    color: #E6533C;
}

.navbar, .banner, .run-extra-miles, .unic, .team-container{
    max-width: 82%;
    margin: 0 auto;
}
.btn-primary{
    background: #00D084;
    /* background: rgb(230, 83, 60); */
    padding: 7px 20px;
    border-radius: 30px;
    border: none;

}
.btn{
    padding: 18px 50px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;

}
.display-flex{
    display: flex;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.8%;
}
.subtitle{
    font-size: .9rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
}
.titles{
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    padding: 10px 0px;
}

.change-your-habits, .run-extra, .unic, .bmi-calculator, .our-team{
    margin: 100px 0px;
}
/* nav related styles */

.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.brand{
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    line-height: 120%;
    letter-spacing: 0%;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.nav-links{
    list-style: none;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 20px;
    padding: 10px 15px 10px 3px;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
    
}
.nav-bar{
    display: none;
}
.nav-link-spaceing{
    margin-left: 50px;
}


/* banner related styles */
.banner{

    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    height: auto;

}
.banner-content{
    max-width: 50%;
    
}
.banner-title, .footer-title{
    font-size: 5rem;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: .3rem;
}

.title-shape {
    font-family: 'Miama', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 5.5rem;
    letter-spacing: 0rem;
    line-height: 0%;
  } 

.banner-describtion{
    font-size: 1rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 30px 0px;
}

.btn-secondery{
    background: transparent;
    border: 1px solid #00D084;
}
.banner-image{
    max-width: 50%;
    height: auto;
}
.banner-image img{
    width: 100%;
}
.img-content-top, .img-content-bottom{
    border: 1pox solid rgba(255, 255, 255, 0.5);
    background: rgba(34, 34, 34, 0.87);
    padding: 15px 25px;
    max-width: 150px;
    border-radius: 10px;

}
.img-content-top{
    top: 44%;
    right: 4%;
    z-index: 1;
    position: absolute;
}
.img-content-bottom{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: -165px;
    margin-left: -100px;
    z-index: 1;
    
}
.circle-danger{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background: #E6533C; */
    background: #00D084;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btm-title{
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
}

/* main section related styles */
.main{
    /* max-width: 100%; */
    margin: 0 auto;
}
.change-habits{
    max-width: 82%;
    margin: 0 auto;
}
.habits-content , .team-content{
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}

.habits-content > .subtitle, .team-content > .subtitle, .run-content > .subtitle{
    padding: 20px 0px;
    margin-bottom: 30px;
}
.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
}
.card-image{
    margin: 20px 0px;
}
.image{
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box;
    border: 5px solid #00D084;
    border-radius: 50%;
}
.card-image img{
    width: 100%;
}
.card-title, .item-title{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
}
/* run-extra-miles related styles */

.run-extra-miles{
    justify-content: space-between;
    padding: 30px;
    background: rgb(34, 34, 34);
    border-radius: 10px;
   
}
.run-content{
    max-width: 40%;
    padding-left: 20px;
}

.run-image{
    max-width: 45%;
}

.run-image > .run-img{
    border-radius: 10px;
    width: 100%;
    object-fit: none;
    object-position: 66% 33%;
    
}
.run-content > .btn{
    margin-top: 30px;
}
/* unic section related styles */

.unic{
    max-width: 82%;
    margin: 0 auto;
    justify-content: space-between;
}

.unic-content{
    max-width: 680px;
}
.unic-content-items{
    margin: 50px 0px;
    max-width: 460px;
    
}
.content-item{
    align-items: center;
    justify-content: center;
    margin-left: 20px;

}
.item-topic{
    margin-left: 50px;
}
.item-image{
    max-width: 100px;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(34, 34, 34);
    margin: 10px 0px;
}
.item-image img{
    width: 100%;
    
}

.unic-img{
    width: 100%;
    border-top: 10px solid #00D084;
    border-right: 10px solid #00D084;
    /* border-top: 10px solid #E6533C ;
    border-right: 10px solid #E6533C; */
    border-radius: 50px;
}

.btn-unic{
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: none;
    background: transparent;
    border: 2px solid #00D084;
    /* border: 2px solid #E6533C; */
    margin-top: 20px;
}
/* BMI Calculator relared styles */

.bmi-content{
    max-width: 680px;
    margin: 0 auto;
}
.bmi-calculate{
    margin: 60px 0px;
    background: rgb(34, 34, 34);
}
.calculate{
    max-width: 82%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0px;
    
}

.table {
    max-width: 400px;
    border-collapse: collapse;
    margin-top: 20px;

}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    text-align: left;
}
.bmi-calculates{
    max-width: 680px;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0px;
}

.inputs, .input-btn{
    max-width: 100%;
    padding: 15px 30px;
    border-radius: 7px;
    border: none;
    background: rgba(78, 77, 77, 0.51);
    margin: 10px 10px 10px 0px;

}
.input-btn{
    justify-content: space-between;
    align-items: center;
}
.input-btn > input, .input-btn > #input{
    background: transparent;
    border: none;
}

#input{
    grid-column: span 2;
}


/* meet our team related styles */

.team-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background: rgb(34, 34, 34);
    border-radius: 15px;
    gap: 20px;
    margin: 0 auto;
}
.teamImage{
    max-width: 380px;
    
}
.teamImage img{
    width: 100%;
    max-height: 260px;
    border-radius: 10px;
    margin-left: 5px;
}

.trainer-name{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 5px;
}

.triner-content{
    position: absolute;
    margin-top: -60px;
    padding-left: 50px;
}

/* footer related styles */

.footer{

    background: rgb(34, 34, 34);
    padding: 50px 200px;
    margin: 0 auto;
}
.footer-container{
    justify-content: space-around;
    gap: 100px;
    margin-bottom: 30px;
}
.footer-content{
    max-width: 400px;
    
}
.footer-title{
    font-style: italic;
}
.ftr-menu-spaceing{
    line-height: 200%;
}
.footer-policy{
    padding-top: 50px;
    text-align: center;
    border-top: 2px solid rgba(78, 77, 77, 0.51);
}
/* resposive for medium device  */

@media screen and (max-width:576px) {
    .nav-links{
        border: none;
    }
    .nav-link{
        display: none;
    }
    .nav-bar{
        display: block;
    }
    .banner{
        flex-direction: column;
        margin: 30px 0px;
        padding: 0px;
    }
    .banner-content{
        max-width: 100%;
        margin-left: 20px;
    }
    .banner-title{
        font-size: 3rem;
    }
    .btn{
        width: 40%;
        position: absolute;
        padding: 20px 10px;
    }
    .btn-secondery{
        margin-left: 230px;
    }
    .banner-image{
        position: relative;
        max-width: 576px;
        margin-left: 20px;
    }
    .banner-image img{
        width: 100%;
        margin-top: 160px;
        margin-left: 20px;
    }
    .img-content-top{
        position: absolute;
        right: -15%;
        top: 30%;
    }
    .img-content-bottom{
        position: absolute;
        margin-left: -10px;
        margin-top: -340px;
    }
    .titles{
        font-size: 2rem;
    }

    .banner-title{
        font-size: 3rem;
        letter-spacing: .2rem;
        word-spacing: .2rem;
    } 

    .title-shape{
        font-size: 3.3rem;
    }

    .title{
        font-size: 1.5rem;
    }
    .habits-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .change-your-habits, .unic, .our-team{
        margin: 10px;
    }
    .run-extra-miles{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }
    .run-content, .run-image{
        max-width: 100%;
        padding: 20px;
    }
    .run-content{
        margin-bottom: 30px;
        position: relative;
    }
    .run-image > .run-img{
        width: 100%;
        object-fit: cover;
    }
    .btn-spaceing{
        width: 90%;
        margin: 30px 0px;
        display: inline-block;
    }
    .run-image{
        margin-top: 50px;
    }

    .unic{
        flex-direction: column;
        margin: 0 auto;
    }
    .unic-image img{
        width: 100%;
    }
    .btn-unic{
        width: 50%;
    }

    .bmi-calculator{
        margin: 100px 0px;
    }
    .bmi-calculate{
        width: 100%;
        padding: 10px 0px 50px 0px;
    }
    .bmi-content{
       width: 82%;
    }
    .calculate{
        flex-direction: column;
        gap: 10px;
    }
    .bmi-calculates{
        margin-top: 30px;
    }

    .inputs{
        max-width: 60%;
        margin: 10px 0px 10px 0px;
    }
    #input-gender{
        max-width: 85%;
    }
    #input{
        max-width: 92%;
    }
    .team-image{
        grid-template-columns: repeat(1, 1fr);
        width: 75%;
    }
    .teamImage{
        width: 100%;
    }
    .teamImage img{
        margin-left: 0px;
    }
    .footer-container{
        flex-direction: column;
        gap: 0px;
        width: 100%;
        margin: 10px;
        
    }
    .footer{
        padding: 20px;
    }
    .footer-title{
        letter-spacing: .1rem;
    } 
    .footer-menus{
        margin-top: 20px;
    }
    
    .footer-menu{
        display: block;
    }

    .footer-policy{
        padding-top: 30px;
    }
}

/* resposive for tablate device  */

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-bar{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content{
        max-width: 85%;   
    }

    .banner-image{
        position: relative;
        max-width: 576px;
        margin-left: 20px;
    }
    .banner-image img{
        width: 100%;
        margin-top: 100px;
        margin-left: 20px;
    }
    .img-content-top{
        position: absolute;
        right: -15%;
        top: 22%;
    }
    .img-content-bottom{
        position: absolute;
        margin-left: -10px;
        margin-top: -250px;
    }

    .btn{
        width: 30%;
        position: absolute;
        padding: 20px 10px;
    }
    .btn-secondery{
        margin-left: 300px;
    }

    .habits-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .run-content, .run-image{
        max-width: 45%;
        gap: 20px;
    }
    .run-extra-miles{
        align-items: start;

    }

    .run-image img{
        height: 360px;
    }
    .run-content > .btn{
        margin-top: 0px;
    }

    .unic{
        flex-direction: column;
        
    }

    .unic-image{
        margin-bottom: 150px;
    }
    
    .calculate{
        flex-direction: column;
        gap: 10px;
        
    }
    .bmi-calculates{
        margin-top: 30px;
        padding: 50px 0px;
    }
    
    .team-image{
        width: 100%;   
    }
    .teamImage img{
        width: 240px;
        max-height: 200px;
        margin-left: 3px;
    }
    .footer{
        padding: 50px 30px;
    }
    .footer-container{
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .footer-content{
        display: block;
    
    }
    .footer-menus{
        position: relative;
        margin-top: 30px;
    
    }
    .ftr-menus{
        position: absolute;
        margin-left: 350px;
        margin-top: 200px;
    }

}

/* resposive for desktop device  */

@media screen and (min-width:576px) and (min-width:992px) and (max-width:1400px) {
    .navbar, .banner, .change-your-habits, .run-extra-miles, .unic, .bmi-calculator, .our-team{
        width: 100%;
        margin: 0 auto;
    }
    .nav-bar{
        display: none;
    }
    .img-content-top{
        top: 56%;
    }
    .teamImage img{
        margin-left: 0px;
    }
    .team-image{
        margin-bottom: 100px;
    }

}