@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.bg-dark{
    background-color: black;
}
.bg-darklight{
    background: rgb(34, 34, 34);
}
.bg-danger{
    background: rgb(230, 83, 60);
}
.text-light{
    color: rgb(255, 255, 255);
}
.text-darklight{
    color: rgba(255, 255, 255, 0.5);
}
.text-danger{
    color: #E6533C;
}
.btn-primary{
    background: rgb(230, 83, 60);
    padding: 7px 20px;
    border-radius: 30px;
    border: none;

}
.display-flex{
    display: flex;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.8%;
}
.subtitle{
    font-size: .9rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
}

/* nav related styles */

.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.brand{
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
}
.navbar{
    max-width: 82%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.nav-links{
    list-style: none;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 20px;
    padding: 10px 15px 10px 3px;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
    
}
.nav-link-spaceing{
    margin-left: 50px;
}
.hidden{
    display: none;
}
/* banner related styles */
.banner{
    max-width: 82%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;

}
.banner-content{
    max-width: 680px;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0%;
}
.banner-describtion{
    font-size: 1rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 30px 0px;
}
.btn{
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;

}
.btn-secondery{
    background: transparent;
    border: 1px solid #fff;
}
.banner-image{
    max-width: 680px;
}
.banner-image img{
    width: 100%;
}
.img-content-top, .img-content-bottom{
    border: 1pox solid rgba(255, 255, 255, 0.5);
    background: rgb(34, 34, 34);
    padding: 15px 25px;
    max-width: 150px;
    border-radius: 10px;

}
.img-content-top{
    top: 44.5%;
    right: 4%;
    z-index: 1;
    position: absolute;
}
.img-content-bottom{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: -165px;
    margin-left: -100px;
    z-index: 1;
    
}
.circle-danger{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #E6533C;
    margin-right: 10px;

}
.btm-title{
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
}

/* main section related styles */
.main{
    max-width: 82%;
    margin: 0 auto;
}
.change-habits{
    margin: 100px 0px;
}
.habits-content{
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}
.habits-title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    padding: 10px 0px;
}
.habits-content > .subtitle{
    padding: 20px 0px;
    margin-bottom: 50px;
}
.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
}
.card-image{
    margin: 20px 0px;
}
.image{
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box;
    border: 5px solid rgb(34, 34, 34);
    border-radius: 50%;
}
.card-image img{
    width: 100%;
}
.card-title{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
}



@media screen and (max-width:576px) {
    .nav-links{
        display: none;
    }
    .hidden{
        
    }
}